/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* End Font */

/* Start Body */
body {
    color:#24292e;
    font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color:rgb(249, 249, 252)
}
.bg-red {
    background-color:rgb(248, 247, 247)
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
        margin: 10px auto;
        overflow: auto;
        width: 100%;
}
/* End Container */

 /* Stat Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited { 
    color:#0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color:#000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: 	#6495ED;
    border-radius: 4px;
    box-shadow: 
    0 3px 5px -1px rgba (0,0,0,2),
    0 6px 10px 0 rgba (0,0,0,14),
    0 1px 18px 0 rgba (0,0,0,12);
}

.menu-primer li {
    border-right: 2px solid rgb(24, 23, 22);
    display: inline-block; 
    margin: 0 -4px;
}

.menu-primer a {
    color:	rgb(19, 17, 17);
    font-size: 13px;
    display: inline-block;
    letter-spacing: 3px;
    padding: 30px 50px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #081d46;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active{
    background-color: #061535;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron{
    background-color: #FFFACD;
    border: 1px solid #6495ED;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h1 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Box */
.box-heading{
    background-color: #6495ED;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #d1dffa;
    border: 1px solid #FFFFFF;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #e8effc;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */